<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comalexpolyanskyi.github.foodandhealth">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:fullBackupContent="true"
        android:theme="@style/FoodAppTheme">
        <activity android:name="comalexpolyanskyi.github.foodandhealth.ui.activities.StartActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="comalexpolyanskyi.github.foodandhealth.ui.activities.MainActivity"
            android:theme="@style/FoodAppTheme"/>
        <activity
            android:name="comalexpolyanskyi.github.foodandhealth.ui.activities.DescriptionActivity"
            android:theme="@style/FoodAppTheme"/>
    </application>

</manifest>